{
  "**/*.d.ts": ["prettier --write"],
  "**/!(*.d).{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/jest.config.js": ["prettier --write"],
  "**/*.{json,css,mdx}": ["prettier --write"]
}